input[type=checkbox] {
    width: 1em;
    height: 1em;
    margin-right: 1.5em;
    cursor: pointer;
    
  }
  
  input[type=checkbox]:after {
    content: " ";
    background-color: #ffffff;
    display: inline-block;
    visibility: visible;
    width: 1.5em;
    height: 1.5em;
    color:#333F48;
    border: solid 1px;
    text-align: center;
    border-color:  #AAAAAA;
    transition: all .2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
   
  }
  
  input[type=checkbox]:checked:after {
    content: "X";
    font-size: 18px;
    font-weight: 800;
    padding-top: 2px;;
  }
