.notification {
    z-index: 11;
    position: fixed;
    bottom: 0;
    min-width: -webkit-fill-available;
    .alert {
        margin-bottom: 0;
        .btn {
            margin-left: 1rem;
            background-color: transparent;
            border-color: black;
        }
    }
    .alert-success {
        background-color: #007bff;
        border: none;
    }
}
